@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Playfair+Display&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display&family=Poppins&display=swap");

body {
}
svg path {
  fill: #ffffff;
  stroke: #ff5555;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1700;
  stroke-dashoffset: 1700;
  -webkit-animation: dash 12s linear forwards;
  animation: dash 12s linear forwards;
}

.judul {
  color: #ff5555;
  font-size: 2rem;
  margin-left: 18rem;
  margin-top: 20rem;
  margin-bottom: -28rem;
  size: 20rem;
  font-family: "Dancing Script", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}

.documentation {
  color: #ffffff;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  margin-bottom: -2rem;
  margin-left: 30px;
}

.container {
  margin-left: -50 px;
}

.atasnya_container {
  margin-left: -3rem;
}

svg {
  width: 50rem; /* Set the SVG width to 100% of the container */
  height: 50rem; /* Set the SVG height to 100% of the container */
}

#Block {
  width: 700px;
  height: 150px;
  background-color: #f55;
  margin-top: -150px;
  border-radius: 5%;
  margin-left: -100px;
}

#myBlock {
  width: 600px;
  height: 800px;
  background-color: #f55;
  border: 2px solid #0000006e;
  margin-top: -25rem;
  margin-left: 15rem;
  color: white;
  font-family: "Caveat", cursive;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 40px;
  padding: 20px;
}

.emoji_2 {
  font-size: 7rem;
  margin-top: 43rem;
  margin-left: 10rem;
}

.emoji_1 {
  font-size: 7rem;
  margin-top: -58rem;
  margin-left: 50rem;
}

.emoji {
  font-size: 5rem;
  animation: bounce 1s infinite alternate;
  margin-top: -60rem;
  margin-left: 40rem;
}

img {
  height: 400px;
  width: 400px;
  margin-top: 10rem;
  margin-left: 50px;
}

video {
  margin-top: 1rem;
  padding: 1rem;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
